@charset "UTF-8";
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  /* line-height: 1; */
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

:root {
  font-size: 0.0520833333vw;
  --laptop: 1024px;
  --mobile: 768px;
  --max-width: 1920px;
  --main-padding: 80rem;
  --sub-padding: 40rem;
  --click-padding: 4px;
  --section-spacing: 180rem;
  --font-size-large3: 128rem;
  --font-size-large2: 64rem;
  --font-size-large1: 42rem;
  --font-size-base3: calc(9px + 10rem);
  --font-size-base2: calc(8px + 10rem);
  --font-size-base1: calc(7px + 10rem);
  --color-accent1: #EA7178;
  --color-accent2: #7799CC;
  --color-black: #080808;
  --color-blackLight: #1C1C1C;
  --color-white: #fff;
  --color-gray83: #838383;
  --color-grayF4: #f4f4f4;
  --color-background10: #FFFFFF;
  --color-background9: #F5F5F5;
  --color-background8: #EAEAEA;
  --color-background7: #E0E0E0;
  --color-background6: #D6D6D6;
  --color-background5: #C1C1C1;
  --color-background4: #ADADAD;
  --color-background3: #989898;
  --color-background2: #838383;
  --color-background1: #6F6F6F;
  --color-background0: #5A5A5A;
  --color-foreground10: #000000;
  --color-foreground9: #080808;
  --color-foreground8: #1C1C1C;
  --color-foreground7: #313131;
  --color-foreground6: #454545;
  --color-foreground5: #5A5A5A;
  --color-foreground4: #6F6F6F;
  --color-foreground3: #838383;
  --color-foreground2: #989898;
  --color-foreground1: #ADADAD;
  --color-foreground0: #C1C1C1;
  --font-title: "Black Han Sans", sans-serif;
  --font-base: "Noto Sans KR", sans-serif;
}

/* img 태그 드래그 막기 */
img {
  -webkit-user-drag: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  z-index: -1;
  border: none;
}

.inner {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: var(--max-width);
  box-sizing: border-box;
}

html,
body {
  /* overflow: overlay; 
  max-width: $maxWidth; */
  font-family: var(--font-base);
  background-color: var(--color-background10);
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
}

.font-base1 {
  font-size: var(--font-size-base1);
}

.font-base2 {
  font-size: var(--font-size-base2);
}

.font-base3 {
  font-size: var(--font-size-base3);
}

.font-large1 {
  font-size: var(--font-size-large1);
}

.font-large2 {
  font-size: var(--font-size-large2);
  font-weight: bold;
}

.font-large3 {
  font-size: var(--font-size-large3);
  font-family: var(--font-title);
}

@media (max-width: 640px) {
  :root {
    font-size: 0.3333333px;
  }
}
@media (min-width: 1920px) {
  :root {
    font-size: 1px;
  }
}
@media (max-width: 1024px) {
  :root {
    --main-padding: 24rem;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background10: #1C1C1C;
    --color-background9: #454545;
    --color-background8: #5A5A5A;
    --color-background7: #5A5A5A;
    --color-background6: #6F6F6F;
    --color-background5: #6F6F6F;
    --color-background4: #838383;
    --color-background3: #838383;
    --color-background2: #989898;
    --color-background1: #989898;
    --color-background0: #989898;
    --color-foreground10: #F5F5F5;
    --color-foreground9: #EAEAEA;
    --color-foreground8: #EAEAEA;
    --color-foreground7: #E0E0E0;
    --color-foreground6: #E0E0E0;
    --color-foreground5: #D6D6D6;
    --color-foreground4: #D6D6D6;
    --color-foreground3: #C1C1C1;
    --color-foreground2: #C1C1C1;
    --color-foreground1: #ADADAD;
    --color-foreground0: #ADADAD;
  }
}
.header-frame {
  width: 100%;
  position: absolute;
  z-index: 99;
}
.header-frame .header-wrap {
  height: calc(27.2px + 40.8rem);
  display: flex;
  align-items: center;
  padding: 0 var(--main-padding);
  justify-content: space-between;
  z-index: 3;
}
.header-frame .header-wrap .header-logo {
  height: calc(27.2px + 40.8rem);
}
.header-frame .header-wrap .header-logo .header-logo-link {
  display: flex;
  height: calc(27.2px + 40.8rem);
  align-items: center;
}
.header-frame .header-wrap .header-logo .header-logo-link img {
  height: 24rem;
  z-index: 99;
}
.header-frame .header-wrap .header-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header-frame .header-wrap .header-navigation .header-navigation-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64rem;
  position: absolute;
  padding-bottom: 18rem;
}
.header-frame .header-wrap .header-navigation .header-navigation-container a {
  padding: 18rem;
  display: block;
  color: white;
  transition: 300ms;
  box-sizing: border-box;
  font-size: var(--font-size-base2);
}
.header-frame .header-wrap .header-navigation .header-navigation-container a:hover {
  color: var(--color-accent1);
}
.header-frame .header-wrap .header-icons {
  height: calc(27.2px + 40.8rem);
  display: flex;
  align-items: center;
  gap: 54rem;
  position: relative;
  z-index: 2;
  font-size: 0;
}
.header-frame .header-wrap .header-icons .icon {
  width: 36rem;
  height: 36rem;
}
.header-frame .header-wrap .header-icons .icon path {
  transition: 300ms;
}
.header-frame .header-wrap .header-icons .icon:hover path {
  color: var(--color-accent1);
}
.header-frame .header-wrap .header-icons .icon-menu {
  color: white;
  display: none;
}
.header-frame .header-wrap .header-icons .icon-menu i {
  transition: 300ms;
}
.header-frame .header-wrap .header-icons .icon-menu i:hover {
  color: var(--color-accent1);
}
.header-frame .header-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  z-index: 1;
}

@media (max-width: 1024px) {
  .header-frame .header-wrap .header-navigation {
    top: calc(27.2px + 40.8rem);
  }
  .header-frame .header-wrap .header-navigation .header-navigation-container {
    width: 100%;
    height: initial;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
  .header-frame .header-wrap .header-icons .icon.icons-cart {
    display: none;
  }
  .header-frame .header-wrap .header-icons .icon-menu {
    display: initial;
  }
  .header-frame .header-background {
    height: 100%;
    background: var(--color-black);
  }
}
footer {
  margin-top: 180rem;
  line-height: normal;
}
footer .footer-top-wrap {
  width: 100%;
  height: calc(28.8px + 43.2rem);
  background-color: var(--color-black);
  display: flex;
  gap: 40rem;
  justify-content: center;
  align-items: center;
}
footer .footer-top-wrap a {
  color: #f4f4f4;
  padding: 4px;
}
footer .footer-bottom-wrap {
  padding: 48rem var(--main-padding) 36rem;
  text-align: center;
  color: #838383;
  background-color: var(--color-blackLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-base1);
}
footer .footer-bottom-wrap span {
  margin-top: 16rem;
}
footer .footer-bottom-wrap a {
  margin-top: 16rem;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-bottom-wrap img {
  width: calc(20px + 30rem);
  height: calc(20px + 30rem);
}

.main-frame {
  width: 100%;
  overflow: hidden;
}

.more-box {
  display: block;
  margin-top: 32rem;
  transition: 500ms;
  width: calc(76px + 114rem);
  height: calc(20px + 30rem);
  border-style: solid;
  border-width: calc(1px + 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-box .more-text {
  transition: 500ms;
}

.visual-wrap {
  width: 100%;
  height: 900rem;
  max-width: --var(max-width);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.visual-wrap .visual-list {
  width: 100%;
  height: 900rem;
  display: flex;
  position: relative;
}
.visual-wrap .visual-list li {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.visual-wrap .visual-list li .visual-link {
  width: 100%;
}
.visual-wrap .visual-list li .visual-link.next-btn-mouseover .visual-img {
  transform: translateX(-4%);
}
.visual-wrap .visual-list li .visual-link.next-btn-mouseover .visual-text-wrap {
  transform: translateX(-4%);
}
.visual-wrap .visual-list li .visual-link.prev-btn-mouseover .visual-img {
  transform: translateX(4%);
}
.visual-wrap .visual-list li .visual-link.prev-btn-mouseover .visual-text-wrap {
  transform: translateX(4%);
}
.visual-wrap .visual-list li .visual-link .visual-img {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 400ms;
}
.visual-wrap .visual-list li .visual-link .visual-text-wrap {
  position: absolute;
  bottom: 64rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  color: white;
  transition: 600ms;
}
.visual-wrap .visual-list li .visual-link .visual-text-wrap .text-title {
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateX(-20%);
  transition: 300ms;
}
.visual-wrap .visual-list li .visual-link .visual-text-wrap .text-detail {
  width: 100%;
  text-align: center;
  margin-bottom: 24rem;
  padding: 0 var(--main-padding);
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-20%);
  transition: 400ms;
}
.visual-wrap .visual-list li .visual-link .visual-text-wrap.active .text-title {
  opacity: 1;
  transform: translateX(0);
}
.visual-wrap .visual-list li .visual-link .visual-text-wrap.active .text-detail {
  opacity: 1;
  transform: translateX(0);
}
.visual-wrap svg {
  width: 100rem;
  height: 100rem;
}
.visual-wrap .btn-next {
  width: 100rem;
  height: 100rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.6;
  transition: 300ms;
}
.visual-wrap .btn-next:hover {
  opacity: 1;
}
.visual-wrap .btn-prev {
  width: 100rem;
  height: 100rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.6;
  transition: 300ms;
}
.visual-wrap .btn-prev:hover {
  opacity: 1;
}
.visual-wrap .indicator {
  position: absolute;
  width: 100%;
  bottom: calc(48rem - var(--click-padding));
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 16rem;
  z-index: 99;
}
.visual-wrap .indicator .indicator-btn {
  display: block;
  padding: var(--click-padding) 0;
}
.visual-wrap .indicator .indicator-btn i {
  display: block;
  width: 60rem;
  height: calc(2px + 4rem);
  background: white;
  opacity: 0.5;
  border-radius: 3rem;
  transition: 300ms;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
}
.visual-wrap .indicator .indicator-btn:hover i {
  border-color: white;
  opacity: 0.5;
}
.visual-wrap .indicator .indicator-btn.selected i {
  border-color: white;
  opacity: 1;
}

.content1-wrap .content1-left-margin {
  margin-left: var(--main-padding);
}
.content1-wrap .content1-left-margin .content1-title-list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24rem;
  margin: 36rem 0;
}
.content1-wrap .content1-left-margin .content1-title-list li a {
  font-size: var(--font-size-base3);
  color: var(--color-foreground10);
  font-weight: bold;
  transition: 0;
}
.content1-wrap .content1-left-margin .content1-title-list li.active a {
  color: var(--color-accent1);
}
.content1-wrap .content1-left-margin .content1_item_list {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 24rem;
  opacity: 0;
}
.content1-wrap .content1-left-margin .content1_item_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-img-wrap {
  position: relative;
  width: 362rem;
  height: 362rem;
  background-color: var(--color-background9);
  border-radius: 18.1rem;
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-img-wrap .content1-img {
  width: 326rem;
  height: auto;
  position: absolute;
  margin: 18rem;
  left: 0;
  bottom: 0;
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-img-wrap .content1-logo {
  width: auto;
  height: 46rem;
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-text-wrap {
  width: 100%;
  margin-top: 24rem;
  height: auto;
  display: flex;
  gap: 6rem;
  flex-direction: column;
  align-items: flex-start;
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-text-wrap .text-title {
  color: var(--color-foreground3);
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-text-wrap .text-detail {
  color: var(--color-foreground10);
}
.content1-wrap .content1-left-margin .content1_item_list li a .content1-text-wrap .text-won {
  color: var(--color-foreground10);
}
.content1-wrap .content1-left-margin .content1-scroll-wrap {
  position: relative;
  left: -10px;
  margin-right: var(--main-padding);
  margin-top: 18rem;
}
.content1-wrap .content1-left-margin .content1-scroll-wrap .content1-scroll-body {
  display: block;
  width: 100%;
  height: calc(3.2px + 4.8rem);
  background: var(--color-background9);
  border-radius: 100px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
}
.content1-wrap .content1-left-margin .content1-scroll-wrap .content1-scroll-bar {
  cursor: move;
  width: 0;
  height: calc(3.2px + 4.8rem);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-accent1);
  border-radius: 100px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
}

.content2-wrap .content2-item-wrap {
  margin-top: var(--section-spacing);
  position: relative;
}
.content2-wrap .content2-item-wrap .content2-title {
  position: absolute;
  top: 0;
  font-weight: normal;
  line-height: normal;
  margin-top: -70rem;
  z-index: 1;
}
.content2-wrap .content2-item-wrap .content2-img-wrap {
  width: 1120rem;
  height: 630rem;
  background-color: black;
  border-radius: 30rem;
  position: relative;
  overflow: hidden;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .content2-img-list {
  display: flex;
  position: relative;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .content2-img-list li .content2-img {
  width: 1120rem;
  height: 630rem;
  border-radius: 30rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .content2-img-list li.active .content2-img {
  animation: popUpAndDownIn 1 800ms ease-out;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .content2-sub-img-list {
  height: 66rem;
  width: 1120rem;
  position: absolute;
  bottom: 80rem;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .content2-sub-img-list li {
  display: none;
  position: absolute;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .content2-sub-img-list li .content2-sub-img {
  width: 1120rem;
  height: 66rem;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .indicator {
  position: absolute;
  width: 100%;
  bottom: calc(48rem - var(--click-padding));
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 16rem;
  z-index: 99;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .indicator .indicator-btn {
  display: block;
  padding: var(--click-padding) 0;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .indicator .indicator-btn i {
  display: block;
  width: 60rem;
  height: calc(2px + 4rem);
  background: white;
  opacity: 0.5;
  border-radius: 3rem;
  transition: 300ms;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .indicator .indicator-btn:hover i {
  border-color: white;
  opacity: 0.5;
}
.content2-wrap .content2-item-wrap .content2-img-wrap .indicator .indicator-btn.selected i {
  border-color: white;
  opacity: 1;
}
.content2-wrap .content2-item-wrap .content2-text-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list {
  width: 100%;
  height: 100%;
  transition: 500ms;
  position: relative;
  display: flex;
  justify-content: center;
}
.content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .text-title {
  display: block;
}
.content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .text-detail {
  display: block;
  margin-top: 32rem;
  color: var(--color-foreground10);
  z-index: 2;
}
.content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .more-box .more-text {
  color: white;
}
.content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .more-box:hover {
  background-color: transparent;
}
.content2-wrap .left-side .content2-title {
  left: var(--main-padding);
  color: var(--color-accent1);
}
.content2-wrap .left-side .content2-img-wrap {
  margin-right: auto;
}
.content2-wrap .left-side .content2-text-wrap {
  right: 0;
  padding-right: var(--main-padding);
  align-items: flex-end;
}
.content2-wrap .left-side .content2-text-wrap .content2-text-list li {
  right: 0;
}
.content2-wrap .left-side .content2-text-wrap .content2-text-list li .content2-text {
  text-align: end;
  background: linear-gradient(to right, white 1120rem, var(--color-foreground10) 1120rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content2-wrap .left-side .content2-text-wrap .content2-text-list li .more-box {
  margin-left: auto;
}
.content2-wrap .left-side .content2-text-wrap .content2-text-list .more-box {
  border-color: var(--color-accent1);
  background-color: var(--color-accent1);
}
.content2-wrap .left-side .content2-text-wrap .content2-text-list .more-box:hover .more-text {
  color: var(--color-accent1);
}
.content2-wrap .right-side .content2-title {
  right: var(--main-padding);
  color: var(--color-accent2);
}
.content2-wrap .right-side .content2-img-wrap {
  margin-left: auto;
}
.content2-wrap .right-side .content2-text-wrap {
  left: 0;
  padding-left: var(--main-padding);
  align-items: flex-start;
}
.content2-wrap .right-side .content2-text-wrap .content2-text-list li {
  left: 0;
}
.content2-wrap .right-side .content2-text-wrap .content2-text-list li .content2-text {
  text-align: start;
  background: linear-gradient(to left, white 1120rem, var(--color-foreground10) 1120rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content2-wrap .right-side .content2-text-wrap .content2-text-list li .more-box {
  margin-right: auto;
}
.content2-wrap .right-side .content2-text-wrap .content2-text-list .more-box {
  border-color: var(--color-accent2);
  background-color: var(--color-accent2);
}
.content2-wrap .right-side .content2-text-wrap .content2-text-list .more-box:hover .more-text {
  color: var(--color-accent2);
}

.content3-wrap {
  width: 100%;
  margin-top: var(--section-spacing);
  padding: 0 var(--main-padding);
}
.content3-wrap .content3-rec-wrap {
  position: relative;
  padding-bottom: 100%;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap {
  justify-content: space-between;
  flex: 1;
  display: flex;
  gap: 2rem;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-img-wrap {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 500ms;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-img-wrap .more-box {
  transition: 500ms 100ms;
  background-color: var(--color-background9);
  border-color: var(--color-background9);
  color: var(--color-foreground10);
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-img-wrap:hover img {
  opacity: 0.8;
  transform: scale(1.05);
  filter: brightness(50%);
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-img-wrap:hover .more-box {
  top: 50%;
  opacity: 1;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-text-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background9);
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-text-wrap h2 {
  color: var(--color-foreground10);
  text-align: center;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-text-wrap .more-box {
  margin-top: 32rem;
  transition: 500ms;
  border-color: var(--color-accent2);
  background-color: transparent;
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-text-wrap .more-box .more-text {
  color: var(--color-accent2);
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-text-wrap .more-box:hover {
  background-color: var(--color-accent2);
}
.content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap .content3-text-wrap .more-box:hover .more-text {
  color: white;
}

@media (max-width: 1024px) {
  .visual-wrap {
    margin-top: calc(27.2px + 40.8rem);
    height: 800rem;
  }
  .visual-wrap .visual-list {
    height: 800rem;
  }
  .content2-wrap .content2-item-wrap {
    width: 100%;
    margin-top: var(--section-spacing);
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .content2-wrap .content2-item-wrap .content2-img-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .content2-wrap .content2-item-wrap .content2-img-wrap .content2-img-list {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .content2-wrap .content2-item-wrap .content2-img-wrap .content2-img-list li {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: auto;
  }
  .content2-wrap .content2-item-wrap .content2-img-wrap .content2-img-list li .content2-img {
    width: 100%;
    height: 100%;
  }
  .content2-wrap .content2-item-wrap .content2-text-wrap {
    position: relative;
    padding: initial;
  }
  .content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list {
    height: calc(32.1px + 288.9rem);
  }
  .content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li {
    height: calc(32.1px + 288.9rem);
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    transform: initial;
  }
  .content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .text-title {
    margin-top: 24rem;
    color: var(--color-foreground3);
    padding: 0 var(--main-padding);
  }
  .content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .text-detail {
    margin-top: 6rem;
    display: block;
    color: var(--color-foreground10);
    padding: 0 var(--main-padding);
    z-index: 2;
  }
  .content2-wrap .content2-item-wrap .content2-text-wrap .content2-text-list li .more-box {
    margin-top: 18rem;
    width: 100%;
  }
  .content2-wrap .left-side .content2-img-wrap {
    margin-right: initial;
  }
  .content2-wrap .left-side .content2-text-wrap {
    right: initial;
    align-items: flex-start;
  }
  .content2-wrap .left-side .content2-text-wrap .content2-text-list li {
    right: 0;
  }
  .content2-wrap .left-side .content2-text-wrap .content2-text-list li .content2-text {
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    text-align: start;
  }
  .content2-wrap .left-side .content2-text-wrap .content2-text-list li .more-box {
    margin-left: initial;
  }
  .content2-wrap .right-side .content2-title {
    right: initial;
    left: var(--main-padding);
  }
  .content2-wrap .right-side .content2-img-wrap {
    margin-right: initial;
  }
  .content2-wrap .right-side .content2-text-wrap {
    right: initial;
    align-items: flex-start;
  }
  .content2-wrap .right-side .content2-text-wrap .content2-text-list li {
    right: 0;
  }
  .content2-wrap .right-side .content2-text-wrap .content2-text-list li .content2-text {
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    text-align: start;
  }
  .content2-wrap .right-side .content2-text-wrap .content2-text-list li .more-box {
    margin-left: initial;
  }
  .content3-wrap {
    padding: initial;
  }
  .content3-wrap .content3-rec-wrap .content3-outer-wrap {
    gap: 1px;
  }
  .content3-wrap .content3-rec-wrap .content3-outer-wrap .content3-inner-wrap {
    gap: 1px;
  }
}
@media (max-width: 640px) {
  .more-box {
    width: calc(64px + 96rem);
    height: calc(20px + 30rem);
  }
}/*# sourceMappingURL=common.css.map */