footer {
  margin-top: 180rem;
  line-height: normal;

  .footer-top-wrap {
    width: 100%;
    height: customRem(72);
    background-color: var(--color-black);
    display: flex;
    gap: 40rem;
    justify-content: center;
    align-items: center;

    a {
      color: #f4f4f4;
      padding: 4px;
    }
  }

  .footer-bottom-wrap {
    padding: 48rem var(--main-padding) 36rem;
    text-align: center;
    color: #838383;
    background-color: var(--color-blackLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-base1);

    span {
      margin-top: 16rem;
    }

    a {
      margin-top: 16rem;
      width: fit-content;
    }

    img {
      width: customRem(50);
      height: customRem(50);
    }
  }
}