footer {
  margin-top: 180rem;
  background-color: var(--color-black22);
  line-height: normal;

  .footer-top-wrap {
    width: 100%;
    height: customRem4To6(72);
    background-color: black;
    display: flex;
    gap: 40rem;
    justify-content: center;
    align-items: center;

    a {
      color: white;
      padding: 4px;
    }
  }

  .footer-bottom-wrap {
    padding: 48rem var(--main-padding) 36rem;
    text-align: center;
    color: var(--color-gray88);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var( --font-size-base1);

    span {
      margin-top: 16rem;
    }

    a {
      margin-top: 16rem;
      width: fit-content;
    }

    img {
      width: customRem4To6(50);
      height: customRem4To6(50);
    }
  }
}