/* 글씨크기 : em, 프리셋 바디에서 16px로 잡아서 16px를 기준으로 직관적으로 크기를 가늠할 수 있음
고정크기 : px, 랩퍼의 높이, 요소의 크기, 클릭 요소의 패딩
반응형크기 : rem, vw를 기준으로 최대최소 설정한 넓이 내에서 변동 섹션의 크기, 요소의 넓이, 요소간 패딩, 마진 */
.header-frame {
  width: 100%;
  // min-width: $minWidth;
  position: absolute;
  z-index: 99;

  .header-wrap {
    height: customRem4To6(68);
    // min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 var(--main-padding);
    justify-content: space-between;
    z-index: 3;

    .header-logo {
      height: customRem4To6(68);

      .header-logo-link {
        display: flex;
        height: customRem4To6(68);
        align-items: center;

        img {
          height: 24rem;
          z-index: 99;
        }
      }
    }

    .header-navigation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      .header-navigation-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 64rem;
        position: absolute;

        a {
          line-height: 60px;
          display: block;
          color: white;
          transition: 300ms;
          box-sizing: border-box;
          font-size: var(--font-size-base2);

          &:hover {
            color: var(--color-accent1);
          }
        }
      }
    }

    .header-icons {
      display: flex;
      gap: 54rem;
      position: relative;
      z-index: 2;

      .icon {
        width: 36rem;
        height: 36rem;

        path {
          transition: 300ms;
        }

        &:hover path {
          color: var(--color-accent1);
        }
      }

      .icon-menu {
        color: white;
        display: none;

        i {
          transition: 300ms;

          &:hover {
            color: var(--color-accent1);
          }
        }
      }
    }
  }

  .visual-slider-top-gradation {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    background: linear-gradient(0deg,
        rgba(#000, 0),
        rgba(#000, 0.7));
    z-index: 1;
  }
}

@media (min-width : 1024px) {

  .header-navigation-container {

    display: flex;
  }
}

@media (max-width : 1024px) {
  .header-frame {
    .header-wrap {
      .header-navigation {
        top: 40px;

        .header-navigation-container {
          width: 100%;
          text-align: center;
          position: relative;
          background-color: rgba($color: #000, $alpha: 0.8);
          display: none;
        }
      }

      .header-icons {
        .icon {
          &.icons-cart {
            display: none;
          }
        }

        .icon-menu {
          display: initial;
        }
      }
    }

    .visual-slider-top-gradation {
      height: 100%;
      background: rgba(#000, 0.8)
    }
  }
}