$laptop: 1600px;
$mobile: 767px;
$maxWidth: 1920px;
// $minWidth:  1024px;
$mainPadding: 80rem;
$subPadding: 40rem;
$clickPadding: 8px;
$sectionSpacing: 180px;
$fontSizeLarge2: 128rem;
$fontSizeLarge1: 64rem;
$fontSizeBase4: 2em;
$fontSizeBase3: 1.5em;
$fontSizeBase2: 1.125em;
$fontSizeBase1: 1em;
$colorAccent1: #EA7178;
$colorAccent2: #7799CC;
$colorBlack00: #000;
$colorBlack22: #222;
$colorWhite: #fff;
$colorGray88: #888;
$colorGrayF4: #f4f4f4;
$colorBackground10: #FFFFFF;/* white gray0 */
$colorBackground9: #F5F5F5;
$colorBackground8: #EAEAEA;
$colorBackground7: #E0E0E0;
$colorBackground6: #D6D6D6;
$colorBackground5: #C1C1C1;
$colorBackground4: #ADADAD;
$colorBackground3: #989898;
$colorBackground2: #838383;
$colorBackground1: #6F6F6F;
$colorBackground0: #5A5A5A;/* gray8 */
$colorForeground10: #000000;/* back gray13 */
$colorForeground9: #080808;
$colorForeground8: #1C1C1C;
$colorForeground7: #313131;
$colorForeground6: #454545;
$colorForeground5: #5A5A5A;
$colorForeground4: #6F6F6F;
$colorForeground3: #838383;
$colorForeground2: #989898;
$colorForeground1: #ADADAD;
$colorForeground0: #C1C1C1;/* gray3 */
$fontTitle: 'Black Han Sans', sans-serif;
/* $fontBase: 'Nanum Gothic', sans-serif; */
$fontBase: 'Noto Sans KR', sans-serif;